<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <h1>Productos disponible</h1>
    <a href="/">Agregar un producto</a>
    <br>

    <% if (data.length !== 0) {%>
    
        <table class="table table-dark table-striped">
        <tr class="table-dark">
            <th class="table-dark">Manga</th>
            <th class="table-dark">Precio</th>
            <th class="table-dark">Ilustracion</th>
        </tr>

        <% data.forEach(function(item) { %>
            <tr>
                <th class="table-dark">
                    <%= item.name %>
                </th>

                <th class="table-dark">
                    <%= item.price %>
                </th>
                <th class="table-dark">
                    <img src=<%= item.img %>>
                </th>
            </tr>
        <% }) %>
    </table>
    <% } else { %>
        <div style="padding: 20px; background-color: grey; color: white;">No hay productos disponibles</div>
    <% } %>
    <br>
    <br>

</body>

</html>