* {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.alert {
  position: absolute;
  top: 20px;
  left: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}